[user]
	name = mcarrasco
	email = maria.carrasco@zalando.de
[core]
	editor = emacsclient -a emacs24
	excludesfile = ~/.gitignore-global
[push]
	default = current
[alias]
        st = status
        ci = commit
        br = branch
        bra = branch -a
	co = checkout
        df = diff
        ds = diff --staged
        lg = log -p
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
        ls = ls-files
        unstage = reset HEAD

    	# Show files ignored by git:
        ign = ls-files -o -i --exclude-standard
        undo-commit = reset --soft HEAD^
[credential]
	helper = cache --timeout=9999999999999600
[pull]
	rebase = true

[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[gui]
	fontdiff = -family Inconsolata -size 12 -weight normal -slant roman -underline 0 -overstrike 0
